{
  "extends": ["eslint:recommended", "airbnb-base"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "comma-dangle": ["error", "always-multiline", { "functions": "never" }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-param-reassign": [2, { "props": false }]
  }
}
